<head>
  <meta charset="UTF-8">
  <title>Mario García</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'><link rel="stylesheet" href="./css/style.css">

</head>
